
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='logincss.css') }}">


</head>
<body style="background-color:black;background-image: url(../static/wallpaper.jpg); background-size: auto; background-repeat: no-repeat;">

  <div  style="display: grid;width:900px; margin:15%">
    {% set name = glo.name %}
    {% set src = glo.image%}
    <form  method="post" id="form" style=" width:900px; margin:7%">

  
      {{form.name.label(class='text')}}<br>
      {{form.name(size=30,class='field2',value=name)}}
      <br><br>
      {{form.info.label(class='text')}}<br>
      {{form.info(size=30,class='field2',value = info ,style='width:900px, height:300px')}}
      <br><br>
      {{form.charakter.label(class='text')}}<br>
      {{form.charakter(size=30,class='field2')}}
      <br><br>
      {{form.look.label(class='text')}}<br>
      {{form.look(size=30,class='field2')}}
      <br><br>
      {{form.image.label(class='text')}}<br>
      {{form.image(size=30,class='field2',value=src)}}
      <br><br>
  
           {{form.submit(size=30,class='submitfield')}}
  
  
      
  
  <br><br>
           
  </form>

     
 
</div>
</body>
</html>
