
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='logincss.css') }}">


</head>
<body style="background-color:black;background-image: url(../static/wallpaper.jpg); background-size: auto; background-repeat: no-repeat;">
  <ul>

    
    <li><a class="text" href="#news">News</a></li>
    <li class="dropdown">
      <a href="/bestiariusz" class="dropbtn">Bestiariusz</a>
     
    </li>
  </ul>
  <div style="display: flex;">
 <div style="width: 50%; ">
  {% block container %}
  
{% endblock %}
</div>

</div>
</body>
</html>
